{% extends "web_challenge/base.html" %}
{% block content %}
<div style="height:94vh" class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mb-3">Cadastre sua Empresa!</h1>
    <form style="border-radius: 8px;box-shadow: 10px 10px 20px;" class="d-flex flex-column align-items-center bg-light b">
        <div class="m-3 row g-3 w-70">
            <label for="interpriseName" class="form-label">Nome da Empresa</label>
            <input type="interpriseName" class="form-control" placeholder="Empresa Exemplo">
        </div>
        <div style="width: 93%;" class="m-3">
            <label for="formFile" class="form-label">Adicione o arquivo CNAB aqui.</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <button type="submit" class="btn btn-primary m-3">Cadastrar</button>
    </form>
</div>
{% endblock content %}
